@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HankenGrotesk";
  src: url("/assets/fonts/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HankenGrotesk";
  src: url("/assets/fonts/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HankenGrotesk";
  src: url("/assets/fonts/HankenGrotesk-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --font-hanken: "HankenGrotesk", sans-serif;
}

body {
  font-family: var(--font-hanken);
}
